# Jupyter related
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Dataset
WESAD.zip
WESAD/
doi_10.5061_dryad.5hqbzkh6f__v6.zip
doi_10.5061_dryad.5hqbzkh6f__v6/
data-input/

# Python
__pycache__

# VS Code
.vscode